@model RoleListModel

@{
    string screen = Constants.CODE_Role;
    ViewData["Title"] = screen;
    var items = Model.Items;   
}

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header">
                @if (Html.AllowCreate(screen).ToString() == "Y")
                {
                    <a asp-action="Create" class="card-title">Create New</a>
                }
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th class="col-actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RowIndex)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @if (Html.AllowEdit(screen).ToString() == "Y")
                                    {
                                        @Html.ActionLink("", "Edit", new { id = item.ID }, new { @class = "bi bi-pencil-square" })
                                    }
                                    @if (Html.AllowDelete(screen).ToString() == "Y")
                                    {
                                        @Html.ActionLink("", "Delete", "Role", new { id = item.ID }, new { @class = "bi bi-trash", onclick = "return confirm('Are you sure you want to delete this item?')" })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-end">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a asp-action="Index" asp-route-pageIndex="1" class="page-link">&laquo;</a>
                        </li>
                    }
                    @if (Model.TotalPages > 0)
                    {
                        for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item">
                                <a asp-action="Index" asp-route-pageIndex="@i" class="page-link">@i</a>
                            </li>
                        }
                    }
                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a asp-action="Index" asp-route-pageIndex="@Model.TotalPages" class="page-link">&raquo;</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section Scripts {

    <script type="text/javascript">
         function deleteItem(id) {
            if (confirm('Are you sure you want to delete this item?')) {               
                alert('Ups');
            }
        }

    </script>
}